page-tabrowadposts {
    .scroll-content {
        background-repeat: repeat !important;
      }

    ion-card{
        box-shadow: 0 0px 0px 0 !important;
        img{
            height: 230px;
        }
    }

    ion-fab{
        margin-bottom: 35px;
        .fab-md, .fab-ios{
        background-color: cadetblue;
        }
    }

    .toolbar-background-md{
        background: cadetblue;
    }

    .list-md, .list-ios{
        margin-top: -15px
    }
}
