<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'MYPROFILE.title' | translate | titlecase}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- My Profile -->
  <div class="divform divformmargin" *ngIf="!isEdit" [style.opacity]="isLoading? '0.5' : ''">

    <h2 text-center><u>{{userData.name | titlecase}}</u></h2>
    <br>
    <ion-item class="itembackground">
      <ion-row>
        <ion-col col-2>
          <ion-icon name="mail" color="primary"></ion-icon>
        </ion-col>
        <ion-col col-10>
          {{userData.email}}
        </ion-col>
      </ion-row>
    </ion-item>
    <br>
    <ion-item class="itembackground">
      <ion-row>
        <ion-col col-2>
          <ion-icon name="call" color="primary"></ion-icon>
        </ion-col>
        <ion-col col-10>
          {{userData.phone}}
        </ion-col>
      </ion-row>
    </ion-item>
    <br>
    <ion-item class="itembackground">
      <ion-row>
        <ion-col col-2>
          <ion-icon name="eye" color="primary"></ion-icon>
        </ion-col>
        <ion-col col-10>
          <b>..................</b>
        </ion-col>
      </ion-row>
    </ion-item>
    <hr>
    <div text-center>
      <a ion-button item-center round icon-start color="light" (click)="toggelIsEdit()">
        <ion-icon name="create" color="primary"></ion-icon>{{'MYPROFILE.butt_edit' | translate | titlecase}}
      </a>
      
      <button ion-button item-center round icon-start color="danger" (click)="ResendActivationEmail()" [disabled]="isClickResend"
        *ngIf="!authser.userData?.email_verified_at">
        <ion-spinner *ngIf="isClickResend" name="bubbles" class="spinnerloading"></ion-spinner>
        <ion-icon name="mail" color="primary"></ion-icon>{{'MYPROFILE.butt_resend' | translate | titlecase}}
      </button>
    </div>
  </div>

  <!-- Edit My Profile -->
  <div class="divform divformmargin" *ngIf="isEdit">
    <h2 text-center><u>{{'MYPROFILE.sub_title' | translate | titlecase}}</u></h2>
    <br>
    <form #f="ngForm" (ngSubmit)="Editprofile()">
      <ion-item class="divform itembackground">
        <ion-label floating>{{'MYPROFILE.lab1_username' | translate | titlecase}}</ion-label>
        <ion-input type="text" [(ngModel)]="userData.name" name="UserName" #UserName="ngModel" required></ion-input>
      </ion-item>
      <div text-center>
        <ion-note *ngIf="UserName.touched && UserName.errors?.required">{{'MYPROFILE.lab1_username_required' | translate | titlecase}}</ion-note>
      </div>

      <br>
      <ion-item class="divform itembackground">
        <ion-label floating>{{'MYPROFILE.lab2_email' | translate | titlecase}}</ion-label>
        <ion-input type="text" [(ngModel)]="userData.email" name="Email" #Email="ngModel" required
        pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$"></ion-input>
      </ion-item>
      <div text-center>
        <ion-note *ngIf="Email.touched && Email.errors?.required">{{'MYPROFILE.lab2_email_required' | translate | titlecase}}</ion-note>
        <ion-note *ngIf="Email.touched && Email.errors?.pattern && !Email.errors?.required">
          {{'MYPROFILE.lab2_email_pattern' | translate | titlecase}}
        </ion-note>
      </div>

      <br>
      <ion-item class="divform itembackground">
        <ion-label floating>{{'MYPROFILE.lab3_phone' | translate | titlecase}}</ion-label>
        <ion-input type="number" [(ngModel)]="userData.phone" name="Phone" #Phone="ngModel" required maxlength="12"></ion-input>
      </ion-item>
      <div text-center>
        <ion-note *ngIf="Phone.touched && Phone.errors?.required">{{'MYPROFILE.lab3_phone_required' | translate | titlecase}}</ion-note>
        <ion-note *ngIf="Phone.touched && Phone.errors?.maxlength && !Phone.errors?.required">
          {{'MYPROFILE.lab3_phone_maxlength' | translate | titlecase}}</ion-note>
      </div>

      <br>
      <ion-item class="divform itembackground">
        <ion-label floating>{{'MYPROFILE.lab4_CurrentPassword' | translate | titlecase}}</ion-label>
        <ion-input type="Password" [(ngModel)]="CurrentPasswordText" name="CurrentPassword" #CurrentPassword="ngModel"
          required></ion-input>
      </ion-item>
      <div text-center>
        <ion-note *ngIf="CurrentPassword.touched && CurrentPassword.errors?.required">
          {{'MYPROFILE.lab4_CurrentPassword_required' | translate | titlecase}}
        </ion-note>
        <ion-note
          *ngIf="CurrentPassword.touched && !CurrentPassword.errors?.required && CurrentPassword.value != userData.password">
          {{'MYPROFILE.lab4_CurrentPassword_notmatch' | translate | titlecase}}</ion-note>
      </div>

      <br>
      <ion-item class="divform itembackground">
        <ion-label floating>{{'MYPROFILE.lab5_NewPassword' | translate | titlecase}}</ion-label>
        <ion-input type="Password" [(ngModel)]="NewPasswordText" name="NewPassword" #NewPassword="ngModel" required>
        </ion-input>
      </ion-item>
      <div text-center>
        <ion-note *ngIf="NewPassword.touched && NewPassword.errors?.required">
          {{'MYPROFILE.lab5_NewPassword_required' | translate | titlecase}}
        </ion-note>
      </div>

      <br>
      <ion-item class="divform itembackground">
        <ion-label floating>{{'MYPROFILE.lab6_ConfirmeNewPassword' | translate | titlecase}}</ion-label>
        <ion-input type="Password" [(ngModel)]="ConfirmeNewPasswordText" name="ConfirmeNewPassword"
          #ConfirmeNewPassword="ngModel" required></ion-input>
      </ion-item>
      <div text-center>
        <ion-note *ngIf="ConfirmeNewPassword.touched && ConfirmeNewPassword.errors?.required">
          {{'MYPROFILE.lab6_ConfirmeNewPassword_required' | translate | titlecase}}
        </ion-note>
        <ion-note
          *ngIf="ConfirmeNewPassword.touched && ConfirmeNewPassword.value != NewPassword.value && !ConfirmeNewPassword.errors?.required">
          {{'MYPROFILE.lab6_ConfirmeNewPassword_notmatch' | translate | titlecase}}</ion-note>
      </div><br>

      <ion-row>
        <ion-col col-6>
          <button ion-button icon-start type="submit" text-center round [disabled]="f.invalid || ConfirmeNewPassword.value != NewPassword.value
            || CurrentPassword.value != userData.password || isClickEdit">
            <ion-spinner *ngIf="isClickEdit" name="bubbles" class="spinnerloading"></ion-spinner>
            <ion-icon name="create"></ion-icon> {{'MYPROFILE.butt_save' | translate | titlecase}}
          </button>
        </ion-col>
        <ion-col col-6>
          <button ion-button round icon-start color="light" type="button" (click)="toggelIsEdit()">
            {{'MYPROFILE.butt_cancel' | translate | titlecase}}
          </button>
        </ion-col>
      </ion-row>
      <br>
    </form>
  </div>

</ion-content>