<!--
  Generated template for the EditpostPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{'EDITPOST.title' | translate | titlecase }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="divform divformmargin">
    <h2 text-center><u>{{'ADDPOST.subtitle' | translate | titlecase}}</u></h2>
    <br>
    <form #f="ngForm" (ngSubmit)="updatepost()">
      <ion-item class="divform itembackground">
        <ion-label floating>{{'ADDPOST.lab1_title'| translate | titlecase }}</ion-label>
        <ion-input type="text" [(ngModel)]="myitem.post_name" name="Title" #Title="ngModel" required  maxlength="20"></ion-input>
      </ion-item>
      <div text-center>
        <ion-note *ngIf="Title.touched && Title.errors?.required">
          {{'ADDPOST.lab1_title_requered'| translate | titlecase }}
        </ion-note>
        <ion-note *ngIf="Title.touched && !Title.errors?.required && Title.errors?.maxlength">
          {{'ADDPOST.lab1_title_maxlength'| translate | titlecase }}
        </ion-note>
      </div>
      
      <br>
      <ion-item class="divform itembackground">
        <ion-label floating>{{'ADDPOST.lab2_description'| translate | titlecase }}</ion-label>
        <ion-textarea type="text" [(ngModel)]="myitem.desc" name="Description" #Description="ngModel" required></ion-textarea>
      </ion-item>
      <div text-center>
      <ion-note *ngIf="Description.touched && Description.errors?.required">
        {{'ADDPOST.lab2_description_requered'| translate | titlecase }}
      </ion-note>
    </div>
      <br>
      <ion-item class="divform itembackground">
        <ion-label floating>{{'ADDPOST.lab3_city'| translate | titlecase }}</ion-label>
        <ion-input type="text" [(ngModel)]="myitem.address" name="Address" #Address="ngModel" required></ion-input>
      </ion-item>
      <div text-center>
      <ion-note *ngIf="Address.touched && Address.errors?.required">
        {{'ADDPOST.lab3_city_requered'| translate | titlecase }}
      </ion-note></div>
      <br>
      <ion-item class="divform itembackground">
        <ion-label floating>{{'ADDPOST.lab4_price'| translate | titlecase }}</ion-label>
        <ion-input type="number" [(ngModel)]="myitem.price" name="Price" #Price="ngModel" required></ion-input>
      </ion-item>
      <div text-center>
      <ion-note *ngIf="Price.touched && Price.errors?.required">
        {{'ADDPOST.lab4_price_requered'| translate | titlecase }}
      </ion-note></div>
      <br>
      <ion-item class="divform itembackground">
        <ion-label floating>{{'ADDPOST.lab6_email'| translate | titlecase }}</ion-label>
        <ion-input type="text" [(ngModel)]="myitem.email" name="Email" #Email="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"></ion-input>
      </ion-item>
      <div text-center>
      <ion-note *ngIf="Email.touched && Email.errors?.required">{{ 'REGISTER.lab2_email_required' | translate | titlecase}}</ion-note>
      <ion-note *ngIf="Email.touched && Email.errors?.pattern && !Email.errors?.required">
        {{ 'REGISTER.lab2_email_pattern' | translate | titlecase}}</ion-note>
    </div>
      <br>
      <ion-item class="divform itembackground">
        <ion-label floating>{{'ADDPOST.lab7_phone'| translate | titlecase }}</ion-label>
        <ion-input type="number" [(ngModel)]="myitem.phone" name="Phone" #Phone="ngModel" required maxlength="12"></ion-input>
      </ion-item>
      <div text-center>
      <ion-note *ngIf="Phone.touched && Phone.errors?.required">{{ 'REGISTER.lab3_phone_required' | translate | titlecase}}</ion-note>
      <ion-note *ngIf="Phone.touched && Phone.errors?.maxlength && !Phone.errors?.required">
        {{ 'REGISTER.lab3_phone_maxlength' | translate | titlecase}}
      </ion-note>
    </div>
      <br>
      <ion-item class="divform itembackground">
        <ion-label>{{'ADDPOST.lab5_type'| translate | titlecase }}</ion-label>
        <ion-select [(ngModel)]="myitem.type" name="Type" #Type="ngModel">
        <ion-option value="selling">{{'ADDPOST.select_option_salling'| translate | titlecase }}</ion-option>
        <ion-option value="rent">{{'ADDPOST.select_option_rent'| translate | titlecase }}</ion-option>
      </ion-select>
      </ion-item>
      <div text-center>
        <ion-note *ngIf="Type.touched && Type.errors?.required">{{'ADDPOST.lab5_type_requered'| translate | titlecase }}</ion-note>
        </div>
      <br>
      <div text-center>
        <ion-col col-10>
          <button ion-button type="submit" block round [disabled]="f.invalid">
            {{'EDITPOST.butt_save'| translate | titlecase }}
          </button>
        </ion-col>
        <!--
        <ion-col col-2>
          <button ion-button type="button" block round icon-only style="background-color: black;"><ion-icon name="images"></ion-icon></button>
        </ion-col>-->
      </div>
      <br>
    </form>
  </div>

</ion-content>
