<!--
  Generated template for the TabrentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-item>
      <ion-label>{{'TABs.label_select' |translate |titlecase}}</ion-label>
      <ion-select placeholder="{{'TABs.placeholder_select' |translate |titlecase}}" dir="ltr" interface="popover"
        [(ngModel)]="selectedCity" name="selectedCity">
        <ion-option value="{{cityoption.id}}" *ngFor="let cityoption of select_options;" (ionSelect)="search()">
          {{cityoption.name |translate |titlecase}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-searchbar (keyup.enter)="search($event)" (ionInput)="searchFromTxt($event)" [(ngModel)]="searchQuery"
      placeholder="{{'TABs.placeholder_searchbar' |translate |titlecase}}"></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- 
    refresher content 
  -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" refreshingSpinner="circles"
      pullingText="{{ 'TABs.refresher_pullingText' | translate | titlecase}}">
    </ion-refresher-content>
  </ion-refresher>

  <!-- 
    masseges of validation no data && result search 
  -->
  <div *ngIf="lengthResultSearch === null && rentposts.length == 0 && !isloading">
    <p text-center>
      <ion-spinner name="bubbles" *ngIf="isSearchLoading"></ion-spinner>
      <b>{{ 'TABs.nodata' | translate | titlecase}}</b>
    </p>
  </div>

  <div *ngIf="posts.length == 0 && lengthResultSearch === 0 && !isloading && !isSearchLoading">
    <p text-center><b>{{ 'TABs.searchNoResult' | translate | titlecase}}</b></p>
  </div>

  <!-- 
    contant of posts 
  -->
  <ion-list *ngIf="(rentposts.length != 0 || posts.length != 0) && !isloading"
    [style.opacity]="isSearchLoading? '0.5' : ''">
    <ion-card *ngFor="let item of posts; let i = Index">
      <img src="{{imgurl}}{{item.main_img}}" (click)="opendetails(item)" />
      <ion-card-content>
        <ion-card-title text-center (click)="opendetails(item)">
          <u><b>{{item.title | titlecase}}</b></u>
        </ion-card-title>
        <p text-center>
          {{item.desc | titlecase}}
        </p>
        <hr>
        <ion-row>
          <ion-col col-2>
            <ion-icon name="images"></ion-icon>
            {{item.imgCount}}
          </ion-col>
          <ion-col col-9 text-center>
            <ion-icon name="time"></ion-icon>
            {{item.created_at | date:'medium'}}
          </ion-col>
          <ion-col col-1 (click)="presentActionSheetMore(item)"
            *ngIf="authser.userData && item.user_id === authser.userData?.id">
            <ion-icon name="more"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

  <!-- 
    push some posts 
  -->
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)"
      *ngIf="searchQuery == '' && (selectedCity =='0' || selectedCity =='')">
      <ion-infinite-scroll-content loadingSpinner="circles"
        loadingText="{{ 'TABs.refresher_pullingText' | translate | titlecase}}">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </ion-list>

  <!-- 
    open add new post page 
  -->
  <ion-fab bottom right edge>
    <button ion-fab mini (click)="openaddpost()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>