<!--
  Generated template for the MypostsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'MYPOSTS.title' | translate | titlecase}}</ion-title>
  </ion-navbar>
  <div padding>
    <ion-segment scrollable="true" [(ngModel)]="pet">
      <ion-segment-button value="sell">
        <b>{{'MYPOSTS.butt_segment_selling' | translate | titlecase}}</b>
      </ion-segment-button>
      <ion-segment-button value="rent">
        <b>{{'MYPOSTS.butt_segment_rent' | translate | titlecase}}</b>
      </ion-segment-button>
      <ion-segment-button value="All">
        <b>{{'MYPOSTS.butt_segment_allvisible' | translate | titlecase}}</b>
      </ion-segment-button>
      <ion-segment-button value="DisActive">
        <b>{{'MYPOSTS.butt_segment_allunvisible' | translate | titlecase}}</b>
      </ion-segment-button>
    </ion-segment>

  </div>
</ion-header>

<ion-content padding>
  <ion-spinner *ngIf="isLoading" name="bubbles" class="spinnerloading"></ion-spinner>
  <div [ngSwitch]="pet">
    <ion-list *ngSwitchCase="'rent'">
      <div *ngFor="let item of myposts; let i = Index">
        <ion-card *ngIf="item.type=='rent' && item.status == 'active'">
          <img src="{{imgurl}}{{item.mainImage}}" (click)="opendetails(item)"/>
          <ion-card-content>
            <ion-card-title text-center (click)="opendetails(item)">
              <u><b>{{item.post_name | titlecase}}</b></u>
            </ion-card-title>
            <p text-center>
              {{item.desc | titlecase}}
            </p>
            <hr>
            <ion-row>
              <ion-col col-2>
                <ion-icon name="images"></ion-icon>
                {{item.imgCount}}
              </ion-col>
              <ion-col col-9 text-center>
                <ion-icon name="time"></ion-icon>
                {{item.created_at | date:'medium'}}
              </ion-col>
              <ion-col col-1 (click)="presentActionSheetMore(item)">
              <ion-icon name="more"></ion-icon>
            </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-list>
  
    <ion-list *ngSwitchCase="'All'">
      <div *ngFor="let item of myposts; let i = Index">
        <ion-card *ngIf="item.status == 'active'">
          <img src="{{imgurl}}{{item.mainImage}}" (click)="opendetails(item)"/>
          <ion-card-content>
            <ion-card-title text-center (click)="opendetails(item)">
              <u><b>{{item.post_name | titlecase}}</b></u>
            </ion-card-title>
            <p text-center>
              {{item.desc | titlecase}}
            </p>
            <hr>
            <ion-row>
              <ion-col col-2>
                <ion-icon name="images"></ion-icon>
                {{item.imgCount}}
              </ion-col>
              <ion-col col-9 text-center>
                <ion-icon name="time"></ion-icon>
                {{item.created_at | date:'medium'}}
              </ion-col>
              <ion-col col-1 (click)="presentActionSheetMore(item)">
              <ion-icon name="more"></ion-icon>
            </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'sell'">
      <div *ngFor="let item of myposts; let i = Index">
        <ion-card *ngIf="item.type=='selling' && item.status == 'active'">
          <img src="{{imgurl}}{{item.mainImage}}" (click)="opendetails(item)"/>
          <ion-card-content>
            <ion-card-title text-center (click)="opendetails(item)">
              <u><b>{{item.post_name | titlecase}}</b></u>
            </ion-card-title>
            <p text-center>
              {{item.desc | titlecase}}
            </p>
            <hr>
            <ion-row>
              <ion-col col-2>
                <ion-icon name="images"></ion-icon>
                {{item.imgCount}}
              </ion-col>
              <ion-col col-9 text-center>
                <ion-icon name="time"></ion-icon>
                {{item.created_at | date:'medium'}}
              </ion-col>
              <ion-col col-1 (click)="presentActionSheetMore(item)">
              <ion-icon name="more"></ion-icon>
            </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'DisActive'">
      <div *ngFor="let item of myposts; let i = Index">
        <ion-card *ngIf="item.status == 'disactive'">
          <img src="{{imgurl}}{{item.mainImage}}" (click)="opendetails(item)"/>
          <ion-card-content>
            <ion-card-title text-center (click)="opendetails(item)">
              <u><b>{{item.post_name | titlecase}}</b></u>
            </ion-card-title>
            <p text-center>
              {{item.desc | titlecase}}
            </p>
            <hr>
            <ion-row>
              <ion-col col-2>
                <ion-icon name="images"></ion-icon>
                {{item.imgCount}}
              </ion-col>
              <ion-col col-9 text-center>
                <ion-icon name="time"></ion-icon>
                {{item.created_at | date:'medium'}}
              </ion-col>
              <ion-col col-1 (click)="presentActionSheetMore(item)">
              <ion-icon name="more"></ion-icon>
            </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-list>
  </div>
</ion-content>
