page-myposts {
        .list-md, .list-ios{
            margin-top: -15px
        }
        ion-card{
            box-shadow: 0 0px 0px 0 !important;
            img{
                height: 220px;
            }
        }
    
        ion-fab{
            margin-bottom: 35px;
            .fab-md, .fab-ios{
            background-color: cadetblue;
            }
        }

        .spinnerloading{
            margin: 46%;
        }
    
        .toolbar-background-md{
            background: cadetblue;
        }
        ion-segment {
            display: block;
            white-space: nowrap;
            font-size: 0;
            overflow: auto;
        
            &::-webkit-scrollbar {
                height: 0;
                display: none;
            }
        
            ion-segment-button.segment-button {
                display: inline-block;
                min-width: 100px;
                width: auto !important;
                height: auto !important;
            }
        }
}
