<!--
  Generated template for the PostdetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{ 'POSTDETAILS.title' | translate | titlecase}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list [style.opacity]="isLoading? '0.5' : ''">
    <ion-card>

      <ion-slides *ngIf="myitem2.allImages && myitem2.allImages.length && myitem2.allImages?.length > 1" pager autoplay="1000" loop="true" speed="3000" dir="ltr">
        <ion-slide *ngFor="let img of myitem2.allImages">
          <img src="{{imgurl}}{{img?.img_url}}"/>
        </ion-slide>
      </ion-slides>

      <img *ngIf="myitem2.allImages && myitem2.allImages.length && myitem2.allImages?.length === 1" src="{{imgurl}}{{myitem2.mainImage}}"/>

      <ion-card-content>
        <ion-card-title text-center>
          <b>{{myitem2.post_name | titlecase}}</b>
        </ion-card-title>
        <p text-center>
          {{myitem2.desc | titlecase}}
        </p>
<hr>
        <ion-row>
          <ion-col col-2>
            <ion-icon name="time" color="primary"></ion-icon>
          </ion-col>
          <ion-col col-10>
            {{myitem2.created_at | date:'full'}}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-2>
            <ion-icon name="locate" color="primary"></ion-icon>
          </ion-col>
          <ion-col col-10>
            {{myitem2.address}}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-2>
            <ion-icon name="person" color="primary"></ion-icon>
          </ion-col>
          <ion-col col-10>
            {{myitem.username | titlecase}}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-2>
            <ion-icon name="mail" color="primary"></ion-icon>
          </ion-col>
          <ion-col col-10>
            <a (click)="SendEmail(myitem2.email)">
              {{myitem2.email}}
            </a>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-2>
            <ion-icon name="call" color="primary"></ion-icon>
          </ion-col>
          <ion-col col-10>
            <a (click)="MakeCall(myitem2.phone)"> {{myitem2.phone}} </a>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-2>
            <ion-icon name="star" color="primary"></ion-icon>
          </ion-col>
          <ion-col col-10 *ngIf="myitem2.type == 'rent'">
            {{ 'POSTDETAILS.type_for_rent' | translate | titlecase}}
          </ion-col>
          <ion-col col-10 *ngIf="myitem2.type == 'selling'">
            {{ 'POSTDETAILS.type_for_selling' | translate | titlecase}}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-2>
            <ion-icon name="logo-bitcoin" color="primary"></ion-icon>
          </ion-col>
          <ion-col col-10>
            {{myitem2.price | number}} {{ 'POSTDETAILS.unit' | translate}}
          </ion-col>
        </ion-row>

      </ion-card-content>
    </ion-card>
    
  </ion-list>
</ion-content>
