page-postdetails {
    ion-card{
        box-shadow: 0 0px 0px 0 !important;
        img{
            height: 200px !important;
            width: 100% !important;
        }
    }

    ion-fab{
        margin-bottom: 35px;
        .fab-md, .fab-ios{
        background-color: cadetblue;
        }
    }

    .toolbar-background-md, .toolbar-background-ios{
        background: cadetblue;
    }
}
