<!--
  Generated template for the AddpostPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{'ADDPOST.title' | translate | titlecase }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="divform divformmargin">
    <h2 text-center><u>{{'ADDPOST.subtitle' | translate | titlecase}}</u></h2>
    <br>
    <form #f="ngForm" (ngSubmit)="add()">
      <ion-item class="divform itembackground">
        <ion-label floating>{{'ADDPOST.lab1_title'| translate | titlecase }}</ion-label>
        <ion-input type="text" [(ngModel)]="newad.post_name" name="Title" #Title="ngModel" required maxlength="20"></ion-input>
      </ion-item>
      <div text-center>
        <ion-note *ngIf="Title.touched && Title.errors?.required">{{'ADDPOST.lab1_title_requered'| translate | titlecase }}</ion-note>
        <ion-note *ngIf="Title.touched && !Title.errors?.required && Title.errors?.maxlength">{{'ADDPOST.lab1_title_maxlength'| translate | titlecase }}</ion-note>
      </div>
      
      <br>
      <ion-item class="divform itembackground">
        <ion-label floating>{{'ADDPOST.lab2_description'| translate | titlecase }}</ion-label>
        <ion-textarea type="text" [(ngModel)]="newad.desc" name="Description" #Description="ngModel" required></ion-textarea>
      </ion-item>
      <div text-center>
      <ion-note *ngIf="Description.touched && Description.errors?.required">{{'ADDPOST.lab2_description_requered'| translate | titlecase }}</ion-note>
    </div>
      <br>
      <ion-item class="divform itembackground">
        <ion-label floating>{{'ADDPOST.lab3_city'| translate | titlecase }}</ion-label>
        <ion-input type="text" [(ngModel)]="newad.address" name="Address" #Address="ngModel" required></ion-input>
      </ion-item>
      <div text-center>
      <ion-note *ngIf="Address.touched && Address.errors?.required">{{'ADDPOST.lab3_city_requered'| translate | titlecase }}</ion-note></div>
      <br>
      <ion-item class="divform itembackground">
        <ion-label floating>{{'ADDPOST.lab4_price'| translate | titlecase }}</ion-label>
        <ion-input type="number" [(ngModel)]="newad.price" name="Price" #Price="ngModel" required></ion-input>
      </ion-item>
      <div text-center>
      <ion-note *ngIf="Price.touched && Price.errors?.required">{{'ADDPOST.lab4_price_requered'| translate | titlecase }}</ion-note></div>
      <br>
      <ion-item class="divform itembackground">
        <ion-label floating>{{'ADDPOST.lab6_email'| translate | titlecase }}</ion-label>
        <ion-input type="text" [(ngModel)]="newad.email" name="Email" #Email="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"></ion-input>
      </ion-item>
      <div text-center>
      <ion-note *ngIf="Email.touched && Email.errors?.required">{{ 'REGISTER.lab2_email_required' | translate | titlecase}}</ion-note>
      <ion-note *ngIf="Email.touched && Email.errors?.pattern && !Email.errors?.required">
        {{ 'REGISTER.lab2_email_pattern' | translate | titlecase}}</ion-note>
    </div>
      <br>
      <ion-item class="divform itembackground">
        <ion-label floating>{{'ADDPOST.lab7_phone'| translate | titlecase }}</ion-label>
        <ion-input type="number" [(ngModel)]="newad.phone" name="Phone" #Phone="ngModel" required maxlength="12"></ion-input>
      </ion-item>
      <div text-center>
      <ion-note *ngIf="Phone.touched && Phone.errors?.required">{{ 'REGISTER.lab3_phone_required' | translate | titlecase}}</ion-note>
      <ion-note *ngIf="Phone.touched && Phone.errors?.maxlength && !Phone.errors?.required">
        {{ 'REGISTER.lab3_phone_maxlength' | translate | titlecase}}
      </ion-note>
    </div>
    <br>
      <ion-item class="divform itembackground">
        <ion-label floating>{{'ADDPOST.lab5_type'| translate | titlecase }}</ion-label>
        <ion-select [(ngModel)]="newad.type" name="Type" #Type="ngModel" required>
          <ion-option value="selling">{{'ADDPOST.select_option_salling'| translate | titlecase }}</ion-option>
          <ion-option value="rent">{{'ADDPOST.select_option_rent'| translate | titlecase }}</ion-option>
        </ion-select>
      </ion-item>
      <div text-center>
      <ion-note *ngIf="Type.touched && Type.errors?.required">{{'ADDPOST.lab5_type_requered'| translate | titlecase }}</ion-note>
      </div>
      <br>
      <!-- test selected photos -->
    <ion-slides *ngIf="myImages.length > 0" pager autoplay="1000" loop="true" speed="3000" dir="ltr">
      <ion-slide *ngFor="let img of myImages">
        <img src="{{img}}"/>
      </ion-slide>
    </ion-slides>
    <br>
      <ion-row>
        <ion-col col-10>
          <button ion-button type="submit" block round [disabled]="f.invalid || myFiles.length == 0 || isClickAdd">
            <ion-spinner *ngIf="isClickAdd" name="bubbles"></ion-spinner>
            {{'ADDPOST.butt_add'| translate | titlecase }}</button>
        </ion-col>
        <ion-col col-2>
          <button ion-button type="button" block round icon-only style="background-color: black;" (click)="selectphotos()">
            <ion-icon name="images"></ion-icon></button>
        </ion-col>
      </ion-row>
      <br>
    </form>
  </div>

</ion-content>
