page-tabhome {
    .scroll-content {
        background-repeat: repeat !important;
      }

    ion-card{
        box-shadow: 0 0px 0px 0 !important;
        img{
            height: 220px;
        }
    }
    .header_slides{
        color: black;
    }
    ion-fab{
        margin-bottom: 35px;
        .fab-md, .fab-ios{
        background-color: cadetblue;
        }
    }

    .toolbar-background-md{
        background: cadetblue;
    }

    ion-list-header{
        margin-bottom: -20px !important;
        border-top: 0px !important;
        text-align: center !important;
        color: white !important;
        background-color: initial !important;
    }
    ion-slides{
        height: 230px;
        img{
            width: 300px !important;
            height: 170px !important;
        }
        h3{
            margin-top: 0px;
        }
    }
}
