page-tabhome {
    ion-content{
        background-image: url('./../../assets/imgs/home.jpg') !important;
    }
    .scroll-content {
        background-image: url('./../../assets/imgs/home.jpg');
        background-repeat: repeat !important;
      }

    .list-md, .list-ios{
        margin-top: -15px
    }
    ion-card{
        img{
            height: 220px;
        }
    }

    ion-fab{
        margin-bottom: 35px;
        .fab-md, .fab-ios{
        background-color: cadetblue;
        }
    }

    .toolbar-background-md{
        background: cadetblue;
    }
}
