page-aboutus {
ion-content{
        background-image: url('./../../assets/imgs/login.jpg');
        .divform{
            border-radius: 10px;
            padding: 5%;
            color: #eee;
            background-color: rgba(27,29,30,0.62);
            box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
        }
        .divformmargin{
            margin-top: 5%;
            margin-bottom: 5%;
        }
    }
}
